<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Blog</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a target="_blank" href="https://www.linkedin.com/pulse/una-nueva-oportunidad-jaime-bar%C3%B3n?trk=portfolio_article-card_title">
                <img class="img-portfolio img-responsive" src="img/Una-nueva-oportunidad.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a target="_blank" href="https://www.linkedin.com/pulse/c%C3%B3mo-convertir-las-ideas-en-acciones-jaime-bar%C3%B3n?trk=related_artice_%E2%80%9CC%C3%B3mo%20convertir%20las%20ideas%20en%20acciones%E2%80%9D_article-card_title">
                <img class="img-portfolio img-responsive" src="img/Como-convertir-las-ideas-en-acciones.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a target="_blank" href="https://www.linkedin.com/pulse/tipos-de-logo-jaime-bar%C3%B3n?trk=related_artice_Tipos%20de%20Logo_article-card_title">
                <img class="img-portfolio img-responsive" src="img/Tipos-de-logos.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a target="_blank" href="https://www.linkedin.com/pulse/5-tips-para-construir-tu-marca-personal-jaime-bar%C3%B3n?trk=related_artice_5%20Tips%20para%20construir%20tu%20marca%20personal_article-card_title">
                <img class="img-portfolio img-responsive" src="img/Marca-personal.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="https://www.linkedin.com/today/author/jaime-bar%C3%B3n?trk=pprof-feed" class="btn btn-dark">Otros artículos</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
